{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/logsty.css' %}">

</head>
<body>
<h1>Login</h1>
<form action="login" method="post">
    {% csrf_token %}
    <div class="row">
        <label for="email">Email</label>
        <input type="text" name="username" autocomplete="off" placeholder="username">
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input type="password" name="password">
    </div>
    <button type="submit">Login</button>
</form>

{% for i in messages %}
    <h2>{{i}}</h2>
    {% endfor %}


</body>
</html>